<div fxLayoutAlign="center center" fxFlexFill class="loginPage">
  <mat-card style="width: 400px">
    <mat-toolbar>Sign in</mat-toolbar>
    <form fxLeyoutAlign="stretch" fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Password">
      </mat-form-field>
      <button mat-raised-button type="submit" (click)="goToMainPage('Dashboard')">Login</button>
      <button mat-raised-button type="submit" style="margin-top: 10px">Forgot password?</button>
    </form>
  </mat-card>
  <img id="Logo" style="margin-left: 10%; height: 400px" src="assets/Images/BMM_main.png"/>
  <img id="Icon" style="position: absolute;top: 10%;height: 80px" src="assets/Icons/Logo.jpg"/>
</div>

