<!--
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
&lt;!&ndash;<div *ngIf="isLoginError" class="red-text center error-message">
  <i class="material-icons">error</i> Incorrect username or password
</div>&ndash;&gt;
  <mat-card-content>
<form #loginForm="ngForm" class="example-form" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" #UserName ngModel name="Nazwa Użytkownika" placeholder="Nazwa Użytkownika" required>
      </mat-form-field>
      </td>
    </tr>
    <tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Password" #Password ngModel name="Hasło" placeholder="Hasło" required>
    </mat-form-field></td>
    </tr></table>

 &lt;!&ndash; <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">vpn_key</i>
      <input type="password" #Password ngModel name="Password" placeholder="Password" required>
    </div>
  </div>
&ndash;&gt;
  &lt;!&ndash;<div class="row">
    <div class="input-field col s12">
      <button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit">Login</button>
    </div>
  </div>&ndash;&gt;
&lt;!&ndash;</form>&ndash;&gt;
</form>
  </mat-card-content>
  <mat-card-actions class="input-field col s12">
    <button mat-raised-button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit">Login</button>
  </mat-card-actions>
</mat-card>
-->



<!--------------------------Działające logowanie----------------------------->

<div *ngIf="isLoginError" class="red-text center error-message">
  <i class="material-icons">error</i> Incorrect username or password
</div>
<form #loginForm="ngForm" class="col s12 white" (ngSubmit)="OnSubmit(UserName.value,Password.value)">

  <div>
    <img src="assets/Images/BMM_main.png" style="margin-left: 30%; margin-top: 3%">
  </div>

  <div class="row" style="margin-left: 40%; margin-top: 2%">
    <tr>
      <td>
        <mat-form-field>
    <div class="input-field col s12">

      <!--<i class="material-icons prefix">account_circle</i>-->
      <input matInput type="text" #UserName ngModel name="UserName" placeholder="Username" required>
    </div>
        </mat-form-field>
     </td>
    </tr>
  </div>


  <div class="row" style="margin-left: 40%">
    <tr>
      <td>
        <mat-form-field >
    <div class="input-field col s12">
      <!--<i class="material-icons prefix">vpn_key</i>-->
      <input matInput type="password" #Password ngModel name="Password" placeholder="Password" required>
    </div>
        </mat-form-field>
      </td>
    </tr>
  </div>

  <div class="row" style="margin-left: 43%">
    <div class="input-field col s12">
      <button mat-raised-button [disabled]="!loginForm.valid"  type="submit">Login</button>
    </div>
  </div>
</form>
