<h1 mat-dialog-title>Dodaj Kontrahenta</h1>



<div mat-dialog-content>
  <form [formGroup]="customerForm">
    <mat-form-field appearance="outline">
      <mat-label>Nazwa</mat-label>
      <input formControlName="name" matInput placeholder="Nazwa">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ulica</mat-label>
      <input formControlName="street" matInput placeholder="Ulica">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Miasto</mat-label>
      <input formControlName="city" matInput placeholder="Miasto">
    </mat-form-field>

    <mat-form-field appearance="outline">
    <mat-label>Kod Pocztowy</mat-label>
    <input formControlName="postalCode" matInput placeholder="Kod pocztowy">
  </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Kraj</mat-label>
      <input formControlName="country" matInput placeholder="Kraj">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mail</mat-label>
      <input formControlName="email" matInput placeholder="Mail">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Numer telefonu</mat-label>
      <input formControlName="phoneNumber" matInput placeholder="Numer telefonu">
    </mat-form-field>


  </form>
</div>

<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Zamknij</button>
  <button style="margin-left: 8px" mat-raised-button color="primary" (click)="addCustomers()">{{actionBtn}}</button>
</div>
