<h1 mat-dialog-title>Add Receipts</h1>



<div mat-dialog-content>
  <form [formGroup]="movementsForm">
    <mat-form-field appearance="outline">

      <mat-label>Description</mat-label>
      <input formControlName="description" matInput placeholder="description">
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Warehouse</mat-label>
      <mat-select formControlName="warehouseId" matInput placeholder="warehouseId">
        <mat-option *ngFor="let row of Warehouses" [value]="row.id">
          {{row.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Target Warehouse</mat-label>
      <mat-select formControlName="targetWarehouseId" matInput placeholder="targetWarehouseId">
        <mat-option *ngFor="let row of Warehouses" [value]="row.id">
          {{row.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button style="margin-left: 8px" mat-raised-button color="primary" (click)="addMovements()">{{actionBtn}}</button>
</div>
