<h1 mat-dialog-title>Dodaj przesunięcie</h1>



<div mat-dialog-content>
  <form [formGroup]="movementsForm">
    <mat-form-field appearance="outline">

      <mat-label>Opis</mat-label>
      <input formControlName="description" matInput placeholder="description">
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Magazyn</mat-label>
      <mat-select formControlName="warehouseId" matInput placeholder="Magazyn">
        <mat-option *ngFor="let row of Warehouses" [value]="row.id">
          {{row.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Magazyn docelowy</mat-label>
      <mat-select formControlName="targetWarehouseId" matInput placeholder="Magazyn docelowy">
        <mat-option *ngFor="let row of Warehouses" [value]="row.id">
          {{row.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Zamknij</button>
  <button style="margin-left: 8px" mat-raised-button color="primary" (click)="addMovements()">{{actionBtn}}</button>
</div>
