<div class="container">
  <div style="margin-top: 10px; margin-left: 10px">

    <mat-form-field appearance="standard">
      <mat-label>Filtr</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Przykładowy tekst" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>


        <ng-container matColumnDef="articleId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Towaru </th>
          <td mat-cell *matCellDef="let row"> {{row.articleId}} </td>
        </ng-container>


        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ilość </th>
          <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Waga </th>
          <td mat-cell *matCellDef="let row"> {{row.weight}} </td>
        </ng-container>

        <ng-container matColumnDef="localizationId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Lokalizacji </th>
          <td mat-cell *matCellDef="let row"> {{row.localizationId}} </td>
        </ng-container>

        <ng-container matColumnDef="creationDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Data utworzenia </th>
          <td mat-cell *matCellDef="let row"> {{row.creationDate}} </td>
        </ng-container>

        <ng-container matColumnDef="warehouseId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Magazynu</th>
          <td mat-cell *matCellDef="let row"> {{row.warehouseId}} </td>
        </ng-container>

        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Użytkownika</th>
          <td mat-cell *matCellDef="let row"> {{row.userId}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Brak danych do wyświetlenia"{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

    </div>
  </div>
</div>
