<h1 mat-dialog-title>Dodaj Operatora</h1>



<div mat-dialog-content>
  <form [formGroup]="usersForm">
    <mat-form-field appearance="outline">
      <mat-label>Imię</mat-label>
      <input formControlName="name" matInput placeholder="Imię">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nazwisko</mat-label>
      <input formControlName="surname" matInput placeholder="Nazwisko">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nazwa</mat-label>
      <input formControlName="username" matInput placeholder="Nazwa">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Hasło</mat-label>
      <input formControlName="password" matInput placeholder="Hasło">
    </mat-form-field>

  </form>
</div>

<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Zamknij</button>
  <button style="margin-left: 8px" mat-raised-button color="primary" (click)="addUsers()">{{actionBtn}}</button>
</div>
