<div class="body">
<button routerLink="/Dashboard" style=" position: absolute; height: 70px; width: 230px; margin-left: 5px; margin-top: 5px; background: url(assets/Icons/Logo.jpg)">
</button>

<button mat-flat-button [matMenuTriggerFor]="menu"  style="position: absolute; margin-top: 20px;margin-left: 250px; height: 40px; width: 90px">
  Magazyn
</button>
<mat-menu #menu>
  <button mat-menu-item>WG</button>
  <button mat-menu-item>MAT</button>
  <button mat-menu-item>PROD</button>
</mat-menu>

<button routerLink="/Dashboard" routerLinkActive="active" style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 100px">Dashboard</button>
<button routerLink="/Operators" routerLinkActive="active" style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 160px">Operators</button>
<button routerLink="/Warehouses" routerLinkActive="active" style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 220px">Warehouses</button>
<button routerLink="/Items" routerLinkActive="active" style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 280px">Items</button>
<button routerLink="/" routerLinkActive="active" style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 340px">Stany magazynowe</button>
<button routerLink="/Orders" routerLinkActive="active" style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 400px">Orders</button>
<button routerLink="/Receipts" routerLinkActive="active" style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 460px">Receipts</button>
<button routerLink="/Releases" routerLinkActive="active" style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 520px">Releases</button>
<button routerLink="/Movements" routerLinkActive="active" style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 580px">Movements</button>
<button routerLink="/Customers" routerLinkActive="active" style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 640px">Customers</button>

  <div class="user">
    <img src="/assets/Images/face.jpg" height="45px" width="60px">
    <p style="position: absolute;top: 50%;left: 53%;transform: translate(-50%, -50%); font-size: 18px">Bartłomiej Kot</p>
  </div>
  <div class="logout">
   <button routerLink="/" mat-icon-button > <mat-icon>power_settings_new</mat-icon></button>
  </div>
</div>

