.body {
  background-color: grey;
  width: 350px;
  height: 800px;


}

.user{
  position: absolute;
  bottom: 13%;
  background-color: white;
  height: 45px;
  width: 250px;
  margin-left: 1%;
}

.logout{
  position: absolute;
  bottom: 13%;
  margin-left: 18%;

}
