<body>
<button style=" position: absolute; margin-left: 10px; margin-top: 10px"><img [src]="logoIcon" width="70px" height="30px"></button>
<button style="position: absolute; margin-top: 10px;margin-left: 120px; height: 30px; width: 200px">Magazyn</button>
<button style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 100px">Dashboard</button>
<button style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 160px">Operatorzy</button>
<button style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 220px">Magazyny</button>
<button style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 280px">Towary</button>
<button style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 340px">Stany magazynowe</button>
<button style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 400px">Dyspozycje</button>
<button style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 460px">Przyjęcia</button>
<button style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 520px">Wydania</button>
<button style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 580px">Przesunięcia</button>
<button style=" position:absolute; height: 35px; width: 200px; margin-left: 75px; margin-top: 640px">Kontrahenci</button>

</body>

