<!--<table mat-table [dataSource]="data">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element; dataSource: data">{{element.name}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>-->

<div class ="container">
  <div class = "card">
    <h3 class="text-center"> Users List</h3>
    <div class = "card-body">
      <table class="table table-striped">
        <thead>
        <th>Id</th>
        </thead>
        <tbody>
        <tr *ngFor = "let user of data">
          <td> {{ user.name}}</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
