<h1 mat-dialog-title>Dodaj Magazyn</h1>



<div mat-dialog-content>
<form [formGroup]="warehousesForm">
    <mat-form-field appearance="outline">
      <mat-label>Nazwa</mat-label>
      <input formControlName="name" matInput placeholder="Nazwa">
    </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Nazwa skrócona</mat-label>
    <input formControlName="displayName" matInput placeholder="Nazwa skrócona">
  </mat-form-field>


</form>
</div>

<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Zamknij</button>
  <button style="margin-left: 8px" mat-raised-button color="primary" (click)="addWarehouses()">{{actionBtn}}</button>
</div>

